@model WebApplication5.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
</head>
<body>
    <div> 
        Customer Name: @Model.CustomerName<br />
        Customer Code: @Model.CustomerCode<br />
    </div>
</body>
</html>
